.login {
  max-width: 450px;
  width: 100%;
  display: grid;
  gap: 50px;
}

.form {
  display: grid;
  gap: 40px;
}

.form>button {
  justify-self: center;
}

.field {
  display: grid;
  gap: 5px;
}

.field label,
.field input::placeholder {
  color: #C4C4C4;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--c-text-secondary);
  font-size: 14px;
}

.links a {
  text-decoration: none;
  color: var(--c-primary);
}

.links a:hover {
  text-decoration: none;
  color: var(--c-primary-hover);
}

.error {
  color: red;
}