.layout {
	position: relative;
	display: flex;
}

.sidebar {
	position: fixed;
	min-height: 90vh;
	padding: 30px;
	min-width: 240px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--c-separator);
}

.exit {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.link {
	display: flex;
	align-items: center;
	gap: 14px;
	text-decoration: none;
	color: var(--c-text);
}

.link:hover,
.active {
	color: var(--c-primary);
}

.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 46px;
}

.avatar {
	margin-bottom: 20px;
	filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.name {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--c-text);
}

.email {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #9EA1B1;
}

.content {
	display: grid;
	gap: 30px;
	margin-left: 320px;
	padding: 40px 60px;
	width: 100%;
}

.cart-count {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--c-primary);
	color: var(--c-white);
	border-radius: 50%;
}